
@font-face {
    font-family: 'LIERA';
    src: url("Fonts/LieraSans/LieraSans-Regular.ttf");
}


:root, body{
    background-color: #444444;
    display: flex;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: 'LIERA'
}
.left{
    background: url('Images/largebackground.avif');
    background-position: center;
    background-size: auto 150vh;
    height: 100vh;
    width: 45vw;
    position: relative;
    


}

.titleBox{
    position: relative;
    top: 20vh;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo{
    width: 200px;
    height: 200px;
    filter: drop-shadow(5px 5px 10px black)
}
.right{
    
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90vh;
    margin-top: 50px;
    margin-left: 50px;
    gap: 0px;
    background-color: #2b2a2a;
    justify-content: center;
    align-items: baseline;
    color: white;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 10px black)
}
.right-container{
    margin: 75px;
    
}

.description{
    width: auto;
    margin-bottom: 0px;
    filter: drop-shadow(5px 5px 10px black)
    
}
.first-text span{
    font-weight: bold;
    color: rgb(6, 116, 180);
}

#forum{
    width: 2%;
    /* margin: 40px; */
    align-items: center;

}
.forum-wrap{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.forum-row{
    display: flex;
    flex-direction: row;
    gap: 10em;
    justify-content: space-between;
}
.forum-element input{
    border-radius: 7px;
    background-color: #444444;
    color: white;
    border: 1px solid #3d3d3d;
    height: 22px;
}
.forum-element input:focus{
    border: 1px solid rgb(6, 116, 180);
    outline: none;
    filter: drop-shadow(5px 5px 10px black)
}
textarea {
    display: flex;
    width: 220px;
    font-size: max(12px, .5em);
    font-family: inherit;
    font-weight: 500;
    padding: .25em .5em;
    background-color: #444444;
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    color-scheme: dark;
    height: 100%;
    resize: none;
    padding: .5rem
  }
  textarea:focus{
    border: 1px solid rgb(6, 116, 180);
    outline: none;
    filter: drop-shadow(5px 5px 10px black)
  }
  .bttn{
    background-color: transparent;
    border: 3px solid rgb(6, 116, 180);
    border-radius: 10px;
    padding: .5rem 1rem;
    margin-top: 2rem;
    font-family: inherit;
    color: white;
    font-size: 1rem;
    transition: border 180ms,color 180ms,background-color 180ms;
    cursor: pointer
  }
  .bttn:hover {
    border: 3px solid rgb(6, 91, 141);
    background-color: rgb(6, 91, 141);
    color: #f7f7f7
  }
  .bttn:active {
    color: #000
  }