
@font-face {
    font-family: 'LIERA';
    src: url("Fonts/LieraSans/LieraSans-Regular.ttf");
}


:root, body{
    background-color: #444444;
    display: flex;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: 'LIERA'
}
.left{
    background: url('Images/largebackground.avif');
    background-position: center;
    background-size: auto 150vh;
    height: 100vh;
    width: 45vw;
    position: relative;
    


}

.titleBox{
    position: relative;
    top: 20vh;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo{
    width: 200px;
    height: 200px;
    filter: drop-shadow(5px 5px 10px black)
}
.right{
    
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90vh;
    margin-top: 50px;
    margin-left: 50px;
    gap: 0px;
    background-color: #2b2a2a;
    justify-content: center;
    align-items: baseline;
    color: white;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 10px black)
}
.right-container{
    margin: 75px;
    
}

.description{
    width: auto;
    margin-bottom: 0px;
    filter: drop-shadow(5px 5px 10px black)
    
}
.first-text span{
    font-weight: bold;
    color: rgb(6, 116, 180);
}

#forum{
    display: flex;
    flex-flow: column wrap;
    width: 2%;
    filter: drop-shadow(5px 5px 10px black)
    
}
.forum-row{
    display: flex;
    flex-direction: row;
    gap: 100px;
}