@font-face {
    font-family: 'CLICKUPER';
    src: url("https://fontlibrary.org//face/clickuper");
}
@font-face {
    font-family: 'LIERA';
    src: url("https://fontlibrary.org//face/liera-sans");
}


:root, body{
    background-color: dimgray;
    display: flex;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}
.left{
    background: url('Images/largebackground.avif');
    background-position: center;
    background-size: auto 150vh;
    height: 100vh;
    width: 45vw;
    position: relative;
}

.titleBox{
    position: relative;
    top: 20vh;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 200px;
    height: 200px;
    filter: drop-shadow(5px 5px 10px black)
}


